.postTable{
    max-width: 50%;
    height: 50%;
    /* height: 50%; */
    display: inline-flex;
    /* position: relative; */
    border: 1px solid blue;
    /* background-image: url('../assets/postbg1.png'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* text-align: center; */
}


.table{
    background-color: rgba(25, 25, 25, .2);
}

.des{
    max-height: 20vh;
    max-width: 20vh;
}