body{
    margin:0px;
    margin: auto;
    width: 100%;
    padding: 2%;
}

.header-cont {
    width:100%;
    position:fixed;
    color: white;
    background-color: rgba(25, 25, 25, 0.5);
    opacity: 90%;
    top:0px;
}
.header {
    height:10%;
    width:960px;
    margin:0px auto;
}
.content {
    width:960px;
    height: 2000px;
    margin: 70px auto;
}
